@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao FireBox Trucks</h1>
    <p> Veja todos os <a asp-controller="Caminhao" asp-action="Index">Caminhões</a> aqui.
    </p>
</div>
